<!DOCTYPE html>
<html>

<head>
    <title>iMessage at home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <style type="text/tailwindcss">
        @layer utilities {
      .content-auto {
        content-visibility: auto;
      }
    }
  </style>
    <script src="https://unpkg.com/htmx.org@1.9.2"
        integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h"
        crossorigin="anonymous"></script>
</head>

<div class="flex flex-col h-screen">
    <header class="flex items-center justify-between p-4 border-b">
        <h1 class="text-xl font-bold">Anya</h1>
    </header>
    <!-- dark:bg-gray-800 -->
    <main class="flex-1 overflow-y-auto p-4 bg-gray-100 ">
        <ul class="space-y-4 flex flex-col" id="message-list">
            {{ range .Messages }}
            {{ block "message-list-element" .}}
            <!-- if .Sender is self -->
            {{ if eq .Sender "Self" }}
            <li class="flex items-end justify-end">
                <div class="flex flex-col space-y-2 text-s max-w-xs mx-2 order-1">
                    <span class="px-4 py-2 rounded-lg inline-block rounded-br-none bg-blue-600 text-white">
                        {{ .Content }}
                    </span>
                </div>
            </li>
            <!-- else -->
            {{ else }}
            <li class="flex items-start">
                <div class="flex flex-col space-y-2 text-s max-w-xs mx-2 order-2">
                    <span class="px-4 py-2 rounded-lg inline-block rounded-bl-none bg-gray-300 text-gray-600">
                        {{ .Content }}
                    </span>
                </div>
            </li>

            {{ end }}
            {{ end }}
            {{ end }}
        </ul>
    </main>
    <form hx-post="/add-message/" hx-target="#message-list" hx-swap="beforeend" hx-indicator="#spinner">
        <footer class="flex items-center justify-between p-4 border-t">
            <input type="text" name="content" id="message-content"
                class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 flex-1 mr-4"
                class="form-control" placeholder="Type your message here..." />
            <button type="submit"
                class="inline-flex items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-10 px-4 py-2">
                <span class="spinner-border spinner-border-sm htmx-indicator" id="spinner" role="status"
                    aria-hidden="true"></span>
                Send
                </span>
            </button>
        </footer>
    </form>
</div>

</html>